anaconda-client==1.7.2
anaconda-project==0.8.3
Django==3.0.7
django-six==1.0.4
fastai==1.0.61
fastcache==1.1.0
fastprogress==0.2.2
h5py==2.10.0
matplotlib==3.1.1
numpy==1.17.4
numpydoc==0.9.1
pandas==0.25.3
Pillow==8.3.2
dj-database-url==0.4.2
Django==1.11.7
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
whitenoise==3.3.1
torch==1.4.0
torchvision==0.5.0
seaborn==0.9.0
tqdm==4.46.0